html, body, #app, .App {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Application structure (flexbox layout) */
.app-container {
    display: flex;
    flex-flow: row;
    height: 100%;
}
.app-content-main {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.app-content-main .flex-header{
    flex: 0 1 auto;
}
.app-content-main .flex-content {
    flex: 1;
    position: relative;
    overflow: auto;
}
.app-nav-main {
    flex: 0 1 210px;
    background-color: #4B6A88;
    color: white;
}
.row {
    margin: 0;
}
/* End application structure */

/* Side nav bar styles */
.nav-main-category {
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    color: #4B6A88;
    background-color: #EEEEEE;
    border-right: 1px solid #4B6A88;
    border-bottom: 1px solid #4B6A88;
}
.nav-main-category:hover {
    background-color: #BBBBBB;
}
.nav-main-category p {
    display: inline;
    text-align: left;
}
.nav-main-category span {
    margin-top: 4px;
    float: right;
}
.nav-secondary-category span.glyphicon {
    margin-right: 10px;
}
.nav-secondary-link:first-child {
    border-top: 0px;
}
.nav-secondary-link:last-child {
    border-bottom: 0px;
}
.nav-secondary-link, .nav-sub-link {
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #EEEEEE;
}
.nav-secondary-link:hover {
    text-decoration: underline;
}
.nav-links-container a {
    color: white;
}
.nav-status-icon, .nav-tertiary-category span.glyphicon {
    float: right;
    margin-top: 3px;
    margin-right: 3px !important;
}
.icon-danger {
    color: yellow;
}
.icon-success {
    color: LawnGreen;
}
.icon-red {
    color: red;
}
.icon-blank {
    color: transparent;
}
.nav-tertiary-category {
    background-color: #6584A2;
}
.nav-sub-link {
    font-size: 14px;
}
.text-center {
    text-align: center;
}
/* End side nav bar styles */

/* Header styles */
.app-header {
    background-color: #f0f0f0;
    height: 110px;
    color: white;
    text-align: center;
}
.app-logo {
    margin-top: 25px;
}
.placeholder {
    padding: 100px;
}
.avatar-section {
    margin: 20px 10px 0px 10px;
    display: inline-block;
    float: right;
    color: black;
}
.avatar-icon {
    padding: 10px;
    margin-right: 30px;
}
.avatar-text {
    display: inline-block;
    margin-top: 5px;
    text-transform: capitalize;
}
.logout-container {
    display: inline-block;
}
/* End header styles */

/* Project styles */
.project-header {

}
.col-md-6,
.col-xs-6,
.col-md-4,
.col-xs-4 {
    padding: 0px;
}
.col-md-6:first-child,
.col-xs-6:first-child,
.col-md-4:first-child,
.col-xs-4:first-child {
    padding-left: 0px;
    padding-right: 20px;
}
.col-md-6:last-child,
.col-xs-6:last-child,
.col-md-4:last-child,
.col-xs-4:last-child {
    padding-left: 20px;
    padding-right: 0px;
}
.create-new-icon {
    background: url('../img/create-new-icon.svg') center right no-repeat;
    padding:0 16px 0 0;
}
.item-overview-tab {
    height: 50px;
}
.graph-section {
    display: inline-block;
}
.overview-body {
    padding-top: 20px;
    height: 200px;
}
.panel-default {
    margin: 0px;
}
.summary-section {
    background-color: #F0F0F0;
}
.left {
    position: fixed;
    top:0; left:0;
    height:100%;
    width: 300px;
}
.right {
    position:relative;
    margin-left: 290px;
}
/* End project styles */

/* General content styles */
.errors-list {
    margin: 0px 0px 10px 0px;
    padding: 10px;
}
.default-content {
    padding: 30px;
}
.default-content h2 {
    margin-top: 0px;
}
/* End general content styles */

/* Miscellaneous */
.show-proposals-table .react-bs-container-body table>tbody>tr:hover,
.dashboard-content .react-bs-container-body table>tbody>tr:hover {
    cursor: pointer;
}
.dashboard-content .dashboard-section {
    width: 50%;
    float: left;
}
.dashboard-content .dashboard-section:nth-child(even) {
    padding-left: 15px;
}
.dashboard-content .dashboard-section:nth-child(odd) {
    padding-right: 15px;
}
.dashboard-section.full {
    width: 100%;
    padding: 0px !important;
}
