html, body {
    height: 100%;
}

.App {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
    background-color: #f0f0f0;
    height: 120px;
    color: white;
    text-align: center;
}

.App-logo {
    display: inline-block;
    margin-top: 20px;
}

.placeholder {
    padding: 100px;
}

.navbar {
    background-color: #4B6A88;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    color: white;
    overflow: hidden;
}

.nav-links-container {
    margin-top: 30px;
}

.nav-icon {
    margin-right: 10px;
    color: white;
}

.nav-text {
    font-size: 16px;
    color: white;
}

.project-content-section {
    width: 100%;
    padding: 20px 0px 20px 40px;
    font-size: 16px;
}

.project-overview-section {
    height: 180px;
}

.project-3col-section {
    margin-top: 20px;
}

.avatar-section {
    margin: 20px 10px 0px 10px;
    display: inline-block;
    float: right;
    color: black;
}

.avatar-icon {
    padding: 10px;
    margin-right: 30px;
}

.avatar-text {
    display: inline-block;
    margin-top: 5px;
}

.project-title {
    font-size: 36px;
    font-weight: 400;
}

.content-block {
    padding: 10px;
    height: 290px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.nav>li>a {
  color: white;
}

.nav>li>a:hover {
  color: #4B6A88;
}

.nav-tabs.nav-justified>li>a {
  color: black;
}

.create-new-icon {
  background: url('../img/create-new-icon.svg') center right no-repeat;
  padding:0 16px 0 0;
}

.item-overview-tab {
  height: 50px;
}

.graph-section {
  display: inline-block;
}

.overview-body {
  padding-top: 20px;
  height: 200px;
}

.summary-section {
  background-color: #F0F0F0;
}

.left {
    position: fixed;
    top:0; left:0;
    height:100%;
    width: 300px;
}

.right {
    position:relative;
    margin-left: 290px;
}
