{% block footer %}
	<div class="base-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
					<p><strong>Solutions</strong></p>
					<p>For Clients</p>
					<p>For Contractors</p>
					<p>For Businesses</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
					<p><strong>Our Customers</strong></p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
					<p><strong>About Us</strong></p>
					<p>Our Mission</p>
					<p>Careers</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<p>Copyright &copy; {% now "Y" %} Managr</p>
					<p>Terms of Use</p>
					<p>Privacy Policy</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}